**DSC530 Week 2 Assignments**

**Kausik Chattapadhyay**

**Date: 12/06/2022**

1. Display the text “Hello World! My name is ...."
2. Add two numbers together
3. Subtract a number from another number
4. Multiply two numbers
5. Divide between two numbers
6. Concatenate two strings together (any words)
7. Create a list of 4 items (can be strings, numbers, both)
8. Append an item to your list (again, can be a string, number)
9. Create a tuple with 4 items (can be strings, numbers, both)

In [1]:
# Display the text “Hello World! My name is ...."
name = "Kausik Chattapadhyay"
display(f"Hello World! My name is {name}.")

'Hello World! My name is Kausik Chattapadhyay.'

In [2]:
# Add two numbers together

23 + 67

90

In [3]:
# Subtract a number from another number

98 - 45

53

In [4]:
# Multiply two numbers
345 * 34

11730

In [5]:
# Divide between two numbers

12345678 / 45

274348.4

In [11]:
# Concatenate two strings together (any words)

str1 = "Hello"
str2 = "World!"

print(" ".join([str1, str2]))

print(str1 + str2)

Hello World!
HelloWorld!

In [22]:
# Create a list of 4 items (can be strings, numbers, both)

my_list = ["abc", 12, 34.45, True]
print(type(my_list))
my_list

<class 'list'>

['abc', 12, 34.45, True]

In [23]:
# Append an item to your list (again, can be a string, number)

item = [1, 2, 3, 4]

my_list.append(item)
my_list

['abc', 12, 34.45, True, [1, 2, 3, 4]]

In [24]:
# Create a tuple with 4 items (can be strings, numbers, both)

my_tuple = ("cab", 12, 34.45, True)
print(type(my_tuple))
my_tuple

<class 'tuple'>

('cab', 12, 34.45, True)